.blog-page {
    h2 {
        text-align: center;
        padding-bottom: 20px;
    }
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.post-preview {
    border: 1px solid #a60000;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    color: inherit;

    a {
        text-decoration: none;
        color: #d00000;
    }

    h3,
    p {
        margin: 0 0 10px 0;
        text-align: center;
        color: #d00000;

    }
}

.preview-image {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    button {
        padding: 5px 10px;
        cursor: pointer;

        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
}

.loading_icon {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
}

.read_more_button {
    margin: 20px auto 0;
    text-align: center;

    .btn {
        color: #fff !important;

        &:hover {
            color: #d00000;
        }
    }
}