h1 {
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Exo 2",
        serif;
}

h2 {
    padding: 20px;
    color: #d00000;
    font-family: "Kanit",
        serif;
}

.home_heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 45px;
}

.container {
    max-width: 720px;
}

.welcome {
    width: 100%;
    background: none !important;
    margin: 0 auto;
}

.main_container {
    margin-top: 125px;
}

li {
    a {
        font-family: "Kanit",
            serif;
    }
}