body {
    background-image: url('../images/background_1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

    &.main_page {
        height: 100%;
    }
}

.logo {
    img {
        width: 100%;
        max-width: 40px;
    }
}

.container-fluid {
    justify-content: space-around !important;
}

.homeworks {
    padding: 0;
    text-align: center;
    margin-left: 10%;
}

.nav-item:hover {
    text-decoration: underline;
    color: #d00000;
}

.nav-link:hover {
    color: #d00000;
}

.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    margin-bottom: 20px;
}